<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>

    </title>
    <link rel="shortcut icon" href="trial5.png" type="image/x-icon">
    <!-- <title><img src="/logodemo.png"></title> -->
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/chatting.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="trial4.png" style="height: 40px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home feeds <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/articles">Article Feeds <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/webdev">Web Dev</a>
                        <a class="dropdown-item" href="/androiddev">Android Dev</a>
                        <a class="dropdown-item" href="/java">Java</a>
                        <a class="dropdown-item" href="/freelanching">freelanching</a>
                        <a class="dropdown-item" href="/life">LifeStyle</a>
                        <a class="dropdown-item" href="/music">Music</a>
                        <a class="dropdown-item" href="/photography">Photography</a>
                        <a class="dropdown-item" href="/cplusplus">C++</a>
                        <a class="dropdown-item" href="/mern">MERN</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/compose">Something else...</a>
                    </div>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/forumns">Forumn</a>
                </li>

            </ul>


            <a class="nav-link" href="/users"><i class="fas fa-plus"></i> Manage Users/ADMIN</a>
            <a class="nav-link" href="/moderator"><i class="fas fa-plus"></i> MODERATOR LOGIN</a>
            <a class="nav-link" href="/registering"> Sign Up</a>


            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-snowman"></i>MyAccount
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/MyAccount">Create Forumn</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Settings">Manage Your Profile</a>
                    <a class="dropdown-item" href="/joinedforum">Joined Forumns </a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </nav>