<%-include("partials/header"); -%>
    <div class="postsforum">
        <div class="recentforumns">


            <h6 style="background-color: rgb(230, 230, 230); height: 30px;"> Categories</h6>
            <!-- because we want to show only last 5 inserted Forumns -->
            <h6><a href="/generalcontent">/GeneralContent</a></h6>
            <h6><a href="/People"> /People</a></h6>
            <h6><a href="/Science">/Science </a></h6>
            <h6><a href="/Technology">/Technology</a></h6>
            <h6><a href="/Coding">/Coding</a></h6>
            <h6><a href="/Interesting">/Interesting</a></h6>
            <h6><a href="/Discussion">/Discussion</a></h6>
            <h6><a href="/games">/Games</a></h6>
            <h6><a href="/sportss"> /Sports</a></h6>
            <h6><a href="/questionanswer">/Question/Answer</a></h6>
            <h6><a href="/stories">/Stories </a></h6>
            <h6><a href="/facts">/Facts</a></h6>
            <h6><a href="/psychology">/Psychology</a></h6>
            <h6><a href="/philosophy">/Philosophy</a></h6>
            <h6><a href="/buiseness">/Buiseness</a></h6>
            <h6><a href="/nature"> /Nature</a></h6>
            <h6><a href="/art">/Art</a></h6>
            <h6><a href="/math">/math</a></h6>
            <h6> <a href="/entertainment">/Entertainment</a></h6>
            <h6> <a href="/music">/Music</a></h6>
            <h6> <a href="/politics">/Politics</a></h6>
            <h6> <a href="/literacy">/Literacy</a></h6>
            <h6> <a href="/lifestyle">/Lifestyle</a></h6>
            <h6> <a href="/others">/Others</a></h6>
            <a href="/newforumns">
                <h8> All </h8>
            </a>
        </div>
    </div>
    <div class="topcommunities">
        <div class="forumnsclassstyle4">
            <h6>Today's Top Growing Communities</h6>
        </div>
    </div>
    <div class="trending2">
        <div class="forumnsclassstyle3">
            <h6>Top Health & Fitness Communities</h6>

        </div>
    </div>
    <div class="forumns2">
        <div class="forumnsclassstyle5">
            Top Books& Writing Communitites
        </div>
    </div>
    <div class="helpf">
        Help Desk
    </div>