<h1>Kamallochan Boruah</h1>
<!DOCTYPE html>
<html>

<head>

</head>



<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <div id="data"> Hi </div>
    <div id="sata">Bye</div>
    <!-- <div class="form-group">
        <p>name:<input type="text" id="name"> </p>
        <p>drink:<input type="text" id="drink"> </p>
        <button type="button" id="add-order">Add!</button>
    </div> -->
    <button id="tryingout"> Try </button>
    <button id="tryingout2"> Try </button>
    <script>
        var DELAY = 400,
            clicks = 0,
            timer = null;

        $(function() {

            $("#tryingout").on("click", function(e) {

                    clicks++; //count clicks

                    if (clicks === 1) {

                        timer = setTimeout(function() {

                            alert("Single Click"); //perform single-click action   
                            $('#data').load("home")
                            clicks = 0; //after action performed, reset counter

                        }, DELAY);

                    } else {

                        clearTimeout(timer); //prevent single-click action
                        alert("Double Click"); //perform double-click action
                        $('#data').load("write")
                        clicks = 0; //after action performed, reset counter
                    }

                })
                .on("dblclick", function(e) {
                    e.preventDefault(); //cancel system double-click event
                });

        });
    </script>



</body>

</html>












<!-- <h2> Look I am still here </h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div id="demo">
        <h1>The XMLHttpRequest Object</h1>
        <button type="button" onclick="loadDoc()">Change Content</button>

    </div>

    <script>
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML =
                        this.responseText;
                }
            };
            xhttp.open("GET", "forumns", true);
            xhttp.send();
        }
    </script> -->