<div class="new" style="display: none;"><a href="/home">Hi </a></div>
<form action="/replycomposts/<%=//post._id%>/<%=//post.communityposts[i]._id%>" method="POST">
    <textarea name="reply" id="reply" cols="30" rows="7" placeholder="Your reply"></textarea>
    <button name="btnreply" class="btn btn-dark btn-sm" id="btnreply"> Send </button>
</form>