<div class="sidenav">
    <ul class="nav flex-column">
        <li class="nav-item">
            <h6 style="color:grey"> Thanks for Being Here</h6>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Feedback/Review</a>
        </li>
        <!-- <li class="nav-item">
            <a class="btn btn-primary btn-sm" href="/logout" role="button ">Log Out</a>
        </li> -->

        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/webdev">Web Dev</a>
            <a class="dropdown-item" href="/androiddev">Android Dev</a>
            <a class="dropdown-item" href="/java">Java</a>
            <a class="dropdown-item" href="/freelanching">freelanching</a>
            <a class="dropdown-item" href="/life">LifeStyle</a>
            <a class="dropdown-item" href="/music">Music</a>
            <a class="dropdown-item" href="/photography">Photography</a>
            <a class="dropdown-item" href="/cplusplus">C++</a>
            <a class="dropdown-item" href="/mern">MERN</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div> -->

    </ul>
</div>