<!DOCTYPE html>
<html>

<head>
    <title>practiciing Ajax jquery </title>
</head>
<h1>

</h1>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <h1>jQuerry Ajax tutorial </h1>
    <h2> Coffe orders</h2>
    <h5> How Are You this is ejs</h5>
    <p id="learingjQuerry"> </p>
    <script>
        $(function() {
            var $learningjQuerry = $('#learningjQuerry');

            var object = '<%-JSON.stringify(loop)%>';
            var object = JSON.parse(object)
            for (var i = 0; i < object.length; i++) {
                console.log(object[i].name);
                $learningjQuerry.append(object[i].name);
                document.getElementById("#learningjQuerry").innerHTML += 'hi'
            }
            // $.ajax({
            //     type: 'GET',
            //     url: '/write',
            //     success: function(data) {
            //         console.log('success', data);
            //     }
            // })
        })
    </script>
</body>

</html>
<!-- <html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>

    <div id="demo">
        <h1>The XMLHttpRequest Object</h1>
        <button type="button" onclick="loadDoc()">Change Content</button>
    </div>



    <script>
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML =
                        this.responseText;
                }
            };
            xhttp.open("GET", "ASSIGNMENT1.html", true);
            xhttp.send();
        }
    </script>

</body>



</html> -->